<h1>Puzzle 1</h1>
<%= link_to "HOME", root_path %>
<br />
<div class="img-container">
  <div class="game-sidebar">
    <h3>Find these characters</h3>

    <ul>
      <li id="waldo-puzzle-1">Waldo</li>
      <li id="wizard-puzzle-1">Wizard Whitebeard</li>
      <li id="wenda-puzzle-1">Wenda</li>
      <li id="odlaw-puzzle-1">Odlaw</li>
    </ul>
  </div>

  <%= image_tag ("/assets/img1.jpeg"), id: "puzzle-img-1", class: "puzzle-img", width: "1456", height: "819" %>
</div>