<h1>PUZZLES INDEX</h1>

<ul>
  <% @puzzles.each do |puzzle| %>
    <li>
      <a href=<%= "puzzles/#{puzzle.id}" %> data-turbolinks="false">
        <%= puzzle.title %>
      </a> 
    </li>
  <% end %>
</ul>